##Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Environments
/.project
/.pydevproject
/.settings
/.idea
.python-version

# mkdocs documentation
/site

## Windows junk
# image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle bin on file shares
$RECYCLE.BIN/

## Mac crap
.DS_Store
