<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Allgemein">
        <setting id="appearance.alt" type="action" label="Erscheinungsbild" default="-" option="close" action="RunPlugin(plugin://plugin.video.lastship/?action=artwork)" visible="!System.HasAddon(script.lastship.artwork)" />
        <setting type="lsep" label="Funktionen und Einstellungen" />
        <setting id="appearance.1" type="select" label="Erscheinungsbild" values="Lastship|Lastship2|Exodus|Exuary" default="Lastship" visible="System.HasAddon(script.lastship.artwork)" />
        <setting id="scrapers.timeout.1" type="slider" label="Zeitlimit für Indexseiten" default="20" range="10,60" option="int" />
        <setting id="trakt.user" type="text" label="Benutzer" default="" visible="false"/>
        <setting id="indicators.alt" type="enum" label="Gesehen / Fortsetzungspunkte" lvalues="Lokal|Trakt" default="1" visible="!eq(-1,)" />
        <setting id="indicators" type="enum" label="Gesehen / Fortsetzungspunkte" lvalues="Lokal" default="0" visible="eq(-2,)" enable="!eq(-2,)" />
        <setting id="api.language" type="select" label="Sprache für Informationen" values="AUTO|Bulgarian|Chinese|Croatian|Czech|Danish|Dutch|English|Finnish|French|German|Greek|Hebrew|Hungarian|Italian|Japanese|Korean|Norwegian|Polish|Portuguese|Romanian|Russian|Serbian|Slovak|Slovenian|Spanish|Swedish|Thai|Turkish|Ukrainian" default="AUTO" />
        <setting id="providers.lang" type="select" label="Sprache für Indexseiten" values="German" default="German" />
        <setting id="flatten.tvshows" type="bool" label="Serien-Staffeln reduzieren" default="false" />
        <setting id="fanart" type="bool" label="Fanart verwenden" default="true" />
        <setting id="movies.extrainfo" type="enum" label="Zusatzinfos für Filme holen" lvalues="AUS|TMDB|TMDB und TRAKT.TV" default="1" visible="false" />
        <setting id="showunaired" type="bool" label="Noch nicht gesendete Staffeln/Episoden anzeigen" default="true" />
        <setting id="unaired.identify" type="enum" label="Farbe für noch nicht gesendete Staffeln/Episoden" lvalues="Blau|Rot|Gelb|Altrosa|Cyan|Grasgrün|Gold|Magenta|Gelbgrün|Ohne Farbe" default="1" />
        <setting id="hidecinema" type="bool" label="Nur Filme älter als 90 Tage anzeigen" default="false" />
        <setting id="filter.movies.byyear" type="bool" label="Filme nach Jahrgang filtern" default="false" />
        <setting type="lsep" label="Inkl. Oscar-Sieger, Beste Einspieler, Genres und Am populärsten" visible="eq(-1,true)" />
        <setting id="movies.byyear.from" type="slider" label="Von" default="1980" range="1900,2017" option="int" visible="eq(-2,true)" />
        <setting id="movies.byyear.to" type="slider" label="Bis" default="2017" range="1900,2018" option="int" visible="eq(-3,true)" />
        <setting type="lsep" label="Menü" />
        <setting id="movie.widget" type="enum" label="Neue Filme" lvalues="Deaktiviert|Empfohlen|Aktive Betrachter|Am populärsten|In Kinos|Neue Releases" default="1" />
        <setting id="tv.widget.alt" type="enum" label="Neue Episoden" lvalues="Deaktiviert|Episoden|Trakt-Fortschritt|Trakt-Episoden" default="2" visible="!eq(-16,)" />
        <setting id="tv.widget" type="enum" label="Neue Episoden" lvalues="Deaktiviert|Episoden" default="1" visible="eq(-17,)" />
        <setting id="prgr.sortorder" type="enum" label="Trakt-Fortschritt sortieren nach" lvalues="kürzlich gesendet|kürzlich gesehen" default="1" visible="!eq(-18,)" />
        <setting id="lists.widget" type="enum" label="Meine Listen" lvalues="Deaktiviert|Aktiviert" default="1" />
        <setting id="search.quick" type="enum" label="Schnelle Suche" lvalues="Deaktiviert|Aktiviert" default="0" />
        <setting type="lsep" label="Trakt Bibliothek - Automatische Synchronisierung" />
        <setting id="autoTraktOnStart" type="bool" label="Synchronisierung bei Kodi Start" default="False" />
        <setting id="schedTraktTime" type="slider" label="Geplante Updates jede - Stunde/n" default="0" range="0,24" option="int" />
        <setting type="lsep" label="0 Geplantes Update deaktiviert" />
        <setting id="DevUpdate" type="bool" label="Nightly Update" default="false" />
        <setting type="lsep" label="Fehlerhafte Provider erkennen" />
        <setting id="FaultLogger.enabled" type="bool" label="Fehlerhafte Provider erkennen" default="true" />
        <setting id="FaultLogger.numErrors" type="slider" label="Anzahl Errors für Deaktivierung" default="5" range="1,30" visible="eq(-1,true)"  option="int" />
        <setting id="FaultLogger.recheckHours" type="slider" label="Deaktivierten Provider überprüfen nach Stunden" default="24" range="12,72" visible="eq(-2,true)" option="int" />
    </category>
    <category label="Wiedergabe">
        <setting id="hosts.mode" type="enum" label="Standard-Aktion" lvalues="Dialog|Verzeichnis|Autoplay" default="1" />
        <setting id="progress.dialog" type="enum" label="Fortschrittsdialog" lvalues="Vordergrund|Hintergrund" default="0" />
        <setting id="prem.identify" type="enum" label="Textfarbe für Premium-Links" lvalues="Blau|Rot|Gelb|Altrosa|Cyan|Grasgrün|Gold|Magenta|Gelbgrün|Ohne Farbe" default="0" />
        <setting id="preemptive.termination" type="bool" label="Streamsuche vorzeitig abbrechen" default="False" visible="false"/>
        <setting id="preemptive.limit" type="slider" label="Abbruch-Limit Streamsuche" default="10" range="1,50" option="int" visible="false" />
        <setting type="lsep" label="Dateinanbieter-Filter" />
        <setting id="hosts.quality" type="enum" label="Höchste Qualität" values="4K|1440p|1080p|720p|480p" default="0" />
        <setting id="autoplay.sd" type="bool" label="Nur SD-Anbieter in Auto-Play" default="false" />
        <setting id="sources.extrainfo" type="bool" label="Zusatzinfo für Quellen anzeigen" default="true" />
        <setting id="HEVC" type="bool" label="HEVC" default="true" />
        <setting id="hosts.captcha" type="bool" label="Hoster mit Pairing" default="true" />
        <setting id="hosts.sort.provider" type="bool" label="Nach Indexseiten sortieren" default="false" />
        <setting id="no.subbed" type="bool" label="Filtere Streams mit Untertitel" default="false" />
        <setting type="lsep" label="Bei Wiedergabe-Start..." />
        <setting id="bookmarks" type="bool" label="Fortsetzen" default="true" />
        <setting id="bookmarks.trakt" type="bool" label="Trakt-Fortsetzungspunkt" default="false" enable="!eq(-1,false)" />
        <setting id="bookmarks.auto" type="bool" label="Automatisch Fortsetzen" default="false" enable="!eq(-2,false)" />
        <setting type="lsep" label="Bei Wiedergabe-Ende..." />
        <setting id="crefresh" type="bool" label="Verzeichnis neu laden" default="false" />
    </category>
    <category label="Indexseiten">
        <setting id="provider.library" type="bool" label="LOKALE DATEIEN (BIBLIOTHEK)" default="true" />
        <setting id="provider.emby" type="bool" label="EMBY" default="false" />
        <setting id="provider.feedme" type="bool" label="FEEDME (DB)" default="false" />
        <setting type="sep" />
        <setting label="Deutsch" type="lsep" />
        <setting id="provider.amazon" type="bool" label="AMAZON.DE" default="false" />
        <setting id="provider.alleserien" type="bool" label="ALLESERIEN.COM" default="true" />
        <setting id="provider.animebase" type="bool" label="ANIMEBASE.NET" default="true" />
        <setting id="provider.animeloads" type="bool" label="ANIMELOADS.ORG" default="true" />
        <setting id="provider.bsto" type="bool" label="BS.TO (ReCaptcha)" default="false" />
        <setting id="provider.cine" type="bool" label="CINE.TO (ReCaptcha)" default="false" />
        <setting id="provider.cinemaxx" type="bool" label="CINEMAXX.CC" default="true" />
        <setting id="provider.cinematrix" type="bool" label="CINEMATRIX.TO" default="true" />
        <setting id="provider.ddl" type="bool" label="DDL.ME" default="true" />
        <setting id="provider.filmpalast" type="bool" label="FILMPALAST.TO" default="true" />
        <setting id="provider.horrorkino" type="bool" label="FLIMMERSTUBE.COM" default="true" />
        <setting id="provider.foxx" type="bool" label="FOXX.TO" default="true" />
        <setting id="provider.hdfilme" type="bool" label="HDFILME.TV" default="true" />
        <setting id="provider.hdkino" type="bool" label="HDKINO.TO" default="true" />
        <setting id="provider.hdstreams" type="bool" label="HD-STREAMS.ORG" default="false" />
        <setting id="provider.iload" type="bool" label="ILOAD.TO" default="true" />
        <setting id="provider.kinoger" type="bool" label="KINOGER.COM" default="true" />
        <setting id="provider.kino-cx" type="bool" label="KINO.CX" default="true" />
        <setting id="provider.kinoking" type="bool" label="KINOKING.TO" default="true" />
        <setting id="provider.kinox" type="bool" label="KINOX.TO" default="false" />
        <setting id="provider.moovie" type="bool" label="MOOVIE" default="true" />
        <setting id="provider.maxdome" type="bool" label="MAXDOME.DE" default="false" />
        <setting id="provider.movie2k-st" type="bool" label="MOVIE2K.ST" default="true" />
        <setting id="provider.movie2k-ag" type="bool" label="MOVIE2K.AG" default="true" />
        <setting id="provider.movie4k" type="bool" label="MOVIE4K.TO" default="true" />
        <setting id="provider.movie4k-lt" type="bool" label="MOVIE4K.LT" default="true" />
        <setting id="provider.movie-gg" type="bool" label="MOVIE-GG" default="true" />
        <setting id="provider.movietown" type="bool" label="MOVIETOWN.ORG" default="true" />
        <setting id="provider.nanime" type="bool" label="NANIME.TO" default="false" />
        <setting id="provider.netflix" type="bool" label="NETFLIX (Kodi18 Only)" default="false" />
        <setting id="provider.netzkino" type="bool" label="NETZKINO.DE" default="true" />
        <setting id="provider.proxer" type="bool" label="PROXER.ME" default="true" />
        <setting id="provider.moviedream" type="bool" label="MOVIEDREAM.WS" default="true" />
        <setting id="provider.serienstream" type="bool" label="SERIENSTREAM.TO" default="true" />
        <setting id="provider.streamit" type="bool" label="STREAMIT.WS" default="true" />
        <setting id="provider.streamworld" type="bool" label="STREAMWORLD.TO (ReCaptcha)" default="false" />
        <setting id="provider.stream-to" type="bool" label="STREAM.TO (ReCaptcha)" default="false" />
        <setting id="provider.szene-streamz" type="bool" label="SZENE-STREAMZ.COM" default="true" />
        <setting id="provider.view4u" type="bool" label="VIEW4U.CO" default="true" />        
        <setting type="sep" />
    </category>
    <category label="Konten">
        <setting type="lsep" label="FANART.TV" />
        <setting type="lsep" label="Persönliche API-Keys verkürzen die Antwortzeiten" default="" />
        <setting type="lsep" label="WerdeVIP-Mietglied, genieße viele Vorteile: https://fanart.tv/vip" default="" />
        <setting id="fanart.tv.user" type="text" label="API-Key" default="" />
        <setting type="sep" />
        <setting type="lsep" label="TMDb" />
        <setting id="tm.user" type="text" option="hidden" label="API-Key" default="2ab10ff6afda491d22e70604dbdc6442" />
        <setting type="sep" />
        <setting type="lsep" label="Trakt" />
        <setting id="trakt.user" type="text" label="Benutzer" visible="true" enable="false" default=""/>
        <setting id="open_trakt_auth" type="action" label="Berechtigung" option="close" action="RunPlugin(plugin://plugin.video.lastship/?action=authTrakt)" />
        <setting id="trakt.token" type="text" visible="false" label="" default="" />
        <setting id="trakt.refresh" type="text" visible="false" label="" default="" />
        <setting type="sep" />
        <setting type="lsep" label="IMDb" />
        <setting id="imdb.user" type="text" label="Benutzer" default="" />
        <setting type="sep" />
        <setting type="lsep" label="DEBRID-SERVICE" />
        <setting type="lsep" label="Konfiguriere Debrid-Dienste in den URLResolver-Einstellungen" />
        <setting id="open_smu_settings" type="action" label="URLResolver-Einstellungen" enable="true" option="close" action="RunPlugin(plugin://plugin.video.lastship/?action=urlResolver)" />
        <setting type="sep" />        
        <setting type="lsep" label="SerienStream.to" />
        <setting id="serienstream.user" type="text" label="e-Mail" default="" />
        <setting id="serienstream.pass" type="text" label="Passwort" default="" />
        <setting type="sep" />
        <setting type="lsep" label="EMBY" />
        <setting id="emby.user" type="text" label="Benutzer" default="" />
        <setting id="emby.pass" type="text" label="Passwort" option="hidden" default="" />
        <setting id="emby.serverip" type="ipaddress" label="Emby Server-IP" default="" />
        <setting id="emby.port" type="number" label="Emby Server-Port" default="" />
        <setting id="emby.name" type="text" label="Emby Server-Name" default="Server" />
    </category>
    <category label="ReCaptcha2">
        <setting default="0" id="Recaptcha2.Mode" label="ReCaptcha-Mode" type="enum" values="MyJDownloader|2Captcha|Captcha9KW" />
        <setting id="Recaptcha2.TimeOut" type="slider" label="TimeOut" default="180" range="60,300" option="int" />
        <setting type="sep" />
        <setting type="lsep" label="MyJDownloader"/>
        <setting id="MyJDownloader.user" type="text" label="E-Mail" default="" />
        <setting id="MyJDownloader.pass" type="text" label="Passwort" default="" />
        <setting type="sep" />
        <setting type="lsep" label="Captcha9KW"/>
        <setting id="Captcha9kw.ApiKey" type="text" label="API-Key" default="" />
        <setting id="Captcha9kw.SolveType" type="bool" label="Nur eigene Captchas lösen (SelfSolve)" default="true" />
        <setting type="sep" />
        <setting type="lsep" label="2Captcha"/>
        <setting id="2Captcha.ApiKey" type="text" label="API-Key" default="" />
        <setting type="sep" />
    </category>
    <category label="Bibliothek">
        <setting id="library.movie" type="folder" label="Filme" default="special://userdata/addon_data/plugin.video.lastship/Movies" />
        <setting id="library.tv" type="folder" label="TV-Serien" default="special://userdata/addon_data/plugin.video.lastship/TVShows" />
        <setting type="lsep" label="Lastship-Ordner werden in die Bibliothek importiert, wenn sie zu Medienquellen hinzugefügt werden." />
        <setting type="sep" />
        <setting id="library.service.update" type="bool" label="TV-Serien automatisch aktualisieren" default="true" />
        <setting id="library.service.notification" type="bool" label="Benachrichtigung während des Updates zeigen" default="true" />
        <setting type="sep" />
        <setting id="library.update" type="bool" label="Nach Hinzufügen von Inhalten die Bibliothek aktualisieren" default="true" />
        <setting id="library.check" type="bool" label="Doppelte Einträge vermeiden" default="true" />
        <setting type="sep" />
        <setting id="library.check_movie" type="bool" label="Film vor dem Hinzufügen prüfen" default="false" />
        <setting id="library.check_episode" type="bool" label="Erste Episode vor dem Hinzufügen prüfen" default="false" />
        <setting id="library.include_unknown" type="bool" label="Episoden mit unbekanntem Ausstrahlungsdatum einbeziehen" default="false" />
    </category>
    <category label="Downloads">
        <setting id="downloads" type="bool" label="Herunterladen aktivieren" default="false" />
        <setting type="sep" />
        <setting id="movie.download.path" type="folder" label="Filme" enable="!eq(-2,false)" default="" />
        <setting id="tv.download.path" type="folder" label="TV-Serien" enable="!eq(-3,false)" default="" />
        <setting type="lsep" label="[CR]" />
        <setting type="lsep" label="Herunterladen ist standardmäßig deaktiviert." />
        <setting type="lsep" label="Bitte geben sie Ihre Ordnerpfade an, um sie zu aktivieren." />
    </category>
    <category label="Untertitel">
        <setting id="subtitles" type="bool" label="Untertitel aktivieren" default="false" />
        <setting type="sep" />
        <setting id="subtitles.utf" type="bool" label="Untertitel nach UTF-8 umwandeln" enable="!eq(-2,false)" default="false" />
        <setting type="sep" />
        <setting id="subtitles.lang.1" type="select" label="Hauptsprache" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-4,false)" default="English" />
        <setting id="subtitles.lang.2" type="select" label="Zweitsprache" values="Afrikaans|Albanian|Arabic|Armenian|Basque|Bengali|Bosnian|Breton|Bulgarian|Burmese|Catalan|Chinese|Croatian|Czech|Danish|Dutch|English|Esperanto|Estonian|Finnish|French|Galician|Georgian|German|Greek|Hebrew|Hindi|Hungarian|Icelandic|Indonesian|Italian|Japanese|Kazakh|Khmer|Korean|Latvian|Lithuanian|Luxembourgish|Macedonian|Malay|Malayalam|Manipuri|Mongolian|Montenegrin|Norwegian|Occitan|Persian|Polish|Portuguese|Portuguese(Brazil)|Romanian|Russian|Serbian|Sinhalese|Slovak|Slovenian|Spanish|Swahili|Swedish|Syriac|Tagalog|Tamil|Telugu|Thai|Turkish|Ukrainian|Urdu" enable="!eq(-5,false)" default="English" />
        <setting type="lsep" label="[CR]" />
        <setting type="lsep" label="Untertitel evtl. nicht verfügbar oder nicht synchron." />
        <setting type="lsep" label="In diesem Fall eigene Untertitel verwenden." />
    </category>
</settings>
